@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
}
/* Header y botones de login y sinup */
.header{
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top:0;
}
.ubicacion{
width: 397px;
height: 25px;
font-family: "Source Sans 3", sans-serif;
font-size: 18px;
font-weight: 600;
}

.registro{
  width: 164px;
  height: 46px;
  background-color:#FFAE00 ;
  color: #ffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  border: transparent;
  box-shadow: 0 5px 15px #FFAE00 ;
}
.registro img{
  width: 18px;
  height: 18px;
  margin-right: 10px;

}

.inicio-sesion input{
 border: none;
 font-family: "Source Sans 3", sans-serif;
 font-size: 18px;
 font-weight: 600; 
 color: black;
}
.inicio-sesion button{
  width: 164px;
  height: 46px;
  background-color:#ffff;
  color:#FFAE00 ;
  border-radius: 8px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: transparent;
  box-shadow: 0 5px 15px #FFAE00 ;
}
.inicio-sesion img{
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.logo-header{
display: flex;
height: 46px;
}
.logo-header h1{
  font-weight: 700;
  font-size: 36px;
  color: #FC7054;
  font-family: "Source Sans 3", sans-serif;
}
.logo-header img{
  width: 54px;
  height: 54px;
}
/* Seccion Encuentra Comida */
.Encuentra-Comida{
  width: 100%;
  height:550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FFAE00 ;
}
.Titulo-Encuentra-Comida h1{
  font-family: "Source Sans 3", sans-serif;
  font-size: 58px;
  font-weight: 600; 
  color: white;
}
.Titulo-Encuentra-Comida p{
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  color: black;
}
.fondo-fideos{
  width: 550px;
  height: 400px;
  position: relative;
  top: 76px;
}
.Card-Encuentra-comida{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
  width: 600px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
}

.Entrega{
  width: 140px;
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 24px;
  border: transparent;
  border-radius: 10px;
  margin-left: -100px;
  background: linear-gradient(to bottom, #FFEDE5, #FFDAC2);
  color: #F26722;
}
.Entrega img{
  width: 20px;
  height: 18px;
  margin-right: 10px;
  
}
.Recogida{
  width: 140px;
  height: 40px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 24px;
  background: none;
  border: none;
  margin-right: 100px;
}
.Recogida img{
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

.Boton-Encuentra{
width: 160px;
height: 50px;
background-color:#F65900 ;
color: white;
border-radius: 8px;
font-family: "Source Sans 3", sans-serif;
font-size: 14px;
font-weight: 600;
border: transparent;
text-align: center;
}
.Ubicacion{
  width: 380px;
  height: 50px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #F5F5F5;
  border: transparent;
  border-radius: 10px;
}
/* Componentes En Descuento */
.tarjetas{
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.ComidaDescuento{
  width:300px;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 15px;
}
.CartasDescuento img{
  width:100%;
  height: 300px;
  border-radius: 20px;
}
.CartasDescuento h3{
  width:50%;
  height: 80px;
  background-color:#FFAE00;
  position: relative;
  bottom:84px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
  
}
.CartasDescuento p{
  font-family: "Source Sans 3", sans-serif;
  color: white;
  font-size:22px;
  position: relative;
  bottom:110px;
  left:90px;
}
.TituloBoton{
  position: relative;
  bottom: 100px;
  margin-right:150px;

}
.TituloBoton h4{
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.TituloBoton button{
  width: 140px;
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 24px;
  border: transparent;
  border-radius: 10px;
  background: linear-gradient(to bottom, #FFEDE5, #FFDAC2);
  color: #F26722;

}
/* Como funciona */
.Comofunciona{
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, #fffbe6 10%, #ffff);
  display: flex;
  justify-content: space-evenly;
}
.Comofunciona h2{
  font-family: "Source Sans 3", sans-serif;
  font-size: 40px;
  color:#F26722;
  text-align: center;
  position: absolute;
  bottom:-540px;
}

.Card-ComoFunciona{
  width: 15%;
  height: 230px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  position: relative;
  top:150px;
}
/* Populares cerca de ti */
.Populares{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(180deg, #FFAE00 10%, #ffff);
}
.Populares h2{
  font-family: "Source Sans 3", sans-serif;
  font-size: 40px;
  text-align: center;
  position: absolute;
  bottom:-1100px;

}
.Populares section{
  position: relative;
  top: 150px;
  margin: 10px;
}

.Card-populares{
  width: 17%;
  height: 460px;
}
.Card-populares img{
width: 100%;
height: 280px;
border-radius: 20px;
}
.Card-populares div{
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap:5px;
  margin-bottom: 5px;
}
.Card-populares div p{
color:#F65900 ;
}
 .Card-populares button{
width: 100%;
height: 50px;
background-color:#F65900 ;
color: white;
border-radius: 8px;
font-family: "Source Sans 3", sans-serif;
font-size: 14px;
font-weight: 600;
border: transparent;
border-radius: 10px;
text-align: center; 
}
/* Restaurantes Destacados */
.Restaurantes{
  width:100%;
  height:1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 300px;
}
.Restaurantes h2{
  font-family: "Source Sans 3", sans-serif;
  font-size: 40px;
  text-align: center;
  position:relative;
  top:-120px;
}
.Restaurantes div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  gap:5px;

}
.Card-restaurantes{
  width:20%;
  height: 410px;
  display: flex;
  flex-direction: column;
  margin-bottom:100px;
}
.Img-restaurantes img{
  width:100%;
  height:300px;
  border-radius: 20px;
}
.Img-restaurantes button{
  height: 45px;
  position:relative;
  bottom:105px;
  right: 280px;
  padding-right:25px;
  padding-left: 25px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #F26722;
  color:white ;
  
}
.Img-restaurantes p{
  height: 45px;
  position:relative;
  bottom:105px;
  right:280px;
  padding-right:25px;
  padding-left: 25px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #FFAE00;
  color:white ;
}
.Card-restaurante-estrella{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.Card-restaurante-estrella button{
  width: 140px;
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  border: transparent;
  border-radius: 10px;
  background: linear-gradient(to bottom, #FFEDE5, #FFDAC2);
  color: #F26722;
  margin-right:150px;
}
.Card-estrella{
  position:relative;
  right:30px;
  display: flex;
  align-items:center;
  margin-top: 15px;
  gap:5px;
  font-family: "Source Sans 3", sans-serif;
  font-size:18px;
}
.Card-estrella img{
  width: 60px;
  height: 60px;
  margin-right:15px;
}
.Card-estrella p{
position: relative;
top:45px;
right:80px;
color: #F26722;
}
.verTodo{
  width: 164px;
  height: 46px;
  background-color:#FFAE00 ;
  color: #ffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  border: transparent;
  box-shadow: 0 5px 15px #FFAE00 ;
}