/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #F17228;
  font-weight: bold;
  text-decoration: none;
  margin-right: 8px;
  font-size: 30px;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-left: -20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
}

.header-item input{
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    
}

.bold {
  font-weight: bold;
  margin-right: 4px;
}

.icon {
  color: orange;
  margin: 0 5px;
}

.register-btn {
  background-color: #fff7e6;
  color: #f39c12;
  border: none;
  padding: 6px 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 186, 0, 0.3);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 6px;
}


/*FORMULARIO*/
.login-content {
    height: 100vh;
    background-image: url("public/fondo-inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 80px;
}


.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    height: 50px;
    padding: 12px;
    margin: 10px ;
    border: none;
    outline: none;
    background-color: #B0BAC3;
    border-radius: 10px;
    margin-top: 40px;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #F2921D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}

.extra-links {
    width: 100%;
    text-align: center;
    margin-top: 90px;
}


.extra-links a {
    color: #F2921D;
    text-decoration: none;
    font-weight: bold;
}