

.ordenes-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ordenes-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #666;
}

.btn-cerrar:hover {
  color: red;
}

.ordenes-scroll {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.ordenes-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.orden-card {
  border: 2px solid #FFAE00;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fdfdfd;
}

.imagen-comida {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.estado {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 5px;
}

.estado.Pago-exitoso {
  background-color: #d4edda;
  color: #155724;
}

.estado.Pendiente-de-pago {
  background-color: #fff3cd;
  color: #856404;
}

.orden-producto {
 display: flex;
  margin-top: 10px;
}

.orden-producto img {
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
}

.producto-detalles {
  display: flex;
  flex-direction: column;
}