/* Fondo oscuro y semitransparente que cubre toda la pantalla */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Negro con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content-logo{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

/* Caja blanca centrada con sombra */
.modal-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Tabla de datos */
.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.modal-content td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.modal-content td:first-child {
  font-weight: bold;
  width: 40%;
}

/* Botón de cerrar */
.modal-content button {
  padding: 8px 16px;
  border: none;
  background-color: #ff9b87; /* un morado bonito */
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content button:hover {
  background-color: #FC7054;
}
